</head>
<body>
  <h1><%= @player %>のターン</h1>
  
  <h2>
    <p>出目</p>
  </h2>
  <p><%= @deme[0] %> ・ <%= @deme[1] %> ・ <%= @deme[2] %></p>
  <p></p>
  <h2>
    <p><%= @cyakuname %>！</p>
  </h2>
  <p></p>
  <%= button_to "結果を見る！", { controller: 'top', action: 'finish' }, {method: :get } %>
</body>
